.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 80vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-height: 60vh;
    overflow-y: auto;
}



.styled-table td {
    text-align: center;
}

.styled-table th {
    background-color: #212121
}

.styled-table tr:hover {
    background-color: #303030
}

.styled-table thead {
    background-color: #212121;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.styled-table tbody {
    max-height: 10vh;
    overflow: auto;
}