.contextTable {
    max-height: 80vh;
    max-width: 95vw;
    overflow: auto;
}

.permissionedittable {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.permissionedittable tbody {
    max-height: 80vh;
    overflow: auto;
}

.permissionedittable thead th {
    font-size: medium;
    text-transform: capitalize;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(46, 46, 46);

}

.permissionedittable td {
    padding: 5px;
    text-align: center;
}

.permissionedittable tbody td:first-child {
    background-color: rgb(46, 46, 46);
    z-index: 1;
    text-align: left;
    position: sticky;
    width: 15vw;
    left: 0;
}

.permissionedittable thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}

.permissionedittable tr:hover {
    background-color: rgb(53, 47, 125);
}

.objectpermissionDiv {
    text-align: center;
}