.wrapperDiv {
    width: 100%;
    left: 50%;
    text-align: center;
    align-items: center;
}

.contentDiv {
    width: 100%;
    text-align: center;
}

.contentDescriptionDiv {
    width: 50%;
}

.imageCss {
    width: 500px;
    height: 500px;
}