.analysisButton {
    top: 30%;
    left: 30%;
    text-align: center;
    margin-top: 10%;
}

.button {
    position: relative;
    width: 120px;
    left: 40%;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.displayDiv {
    border: 1px solid rgb(69, 68, 68);
    height: 100%;
    padding: 5px;
    border-radius: 5px;
}